{%extends 'main.html'%}
<hr>
{%block content %}
<h1>Projects</h1>
<table>
    <tr>
        <th>Project</th>
        <th>Positive votes</th>
        <th>Votes</th>
        <th></th>
    </tr>
    {%for project in projects %}
    <tr>
     
        <td>{{project.title}}</td>
        <td>{{project.vote_ratio}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.created_at}}</td>
        <td><a href="{% url 'update-project' project.id %}"</a>Edit</td>
        <td><a href="{% url 'delete-project' project.id %}"</a>Delete</td>
        <td><a href="{% url 'project' project.id %}"</a>View</td>
    </tr>

    {%endfor%}
</table>
{% endblock content%}
